/* 
    color => to change a color of any thing
    font-size => to change the size of font of any thing
    background-color => to change the background color of any thing : hex code , rgb code , rgba code  name of color


*/
/* div {
    background-color: red;
    background-image: url("../image/52936848_533359779200449_6863327968119641215_n.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-position: 100px 100px;
    background-size: contain;
    /* background-size: 300px 300px; */
/* } */

/* p {
    color: aqua;
    font-size: 48px;

} */ 
/* .text {
    color: orange;
    font-size: 75px;
    background-color: rgb(50 135 120 / 0.5);
}
#txt {
    color: red;
    font-size: 50px;
} */

.learn {
    
    border-color: red green cyan aquamarine;
    border-width: 10px;
    border-style: solid dashed dotted double;
    background-color: #DDD;
    outline-width: 5px;
    outline-style: solid;
    outline-color: black;

}