* {
    box-sizing: border-box;
    margin: 0;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    margin: 20px auto 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

.grid div {
    background-color: #607d8b;
    counter-increment: name;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.grid div::before{
    content: "Element " counter(name);
}

.layout {
    background-color: #eee;
    height: 100vh;
    width: 99vw;
    margin-top: 20px ;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: 
    "header header header header header header header header header header" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "section section section section section section section aside aside aside" 
    "footer footer footer footer footer footer footer footer footer footer";
}

.layout header ,
.layout section ,
.layout aside  , 
.layout footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 20px;
}
.layout header , .layout footer {
    align-items: center;
    padding-top: 0;
}
.layout header {
    grid-area: header;
    background-color: #03a9f4;
}

.layout header::before {
    content: "Header";
}

.layout section{
    grid-area: section;
    background-color: #ff5722;
}

.layout section::before{
    content: "Section";
}

.layout aside {
    grid-area: aside;
    background-color: #607d8b;
}
.layout aside::before{
    content: "Aside";
}
.layout footer {
    grid-area: footer;
    background-color: #009688;
}
.layout footer::before {
    content: "footer";
}


.grid-2{
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    margin: 20px auto;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto repeat(2,1fr) auto;
    grid-gap: 20px  20px;
  }

.grid-2 div {
    background-color: #403f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.grid-3 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    font-size: 20px;
    color: white;
    font-weight: bold;
    grid-template-areas: 
    "eight eight eight" 
    "two two three" 
    "four five five" 
    "six five five" 
    "seven five five"
    "one one one "
    ;
    grid-gap: 20px 20px;
}

.grid-3 .one {grid-area: one;}
.grid-3 .two {grid-area: two;}
.grid-3 .three {grid-area: three;}
.grid-3 .four {grid-area: four;}
.grid-3 .five {grid-area: five;}
.grid-3 .six {grid-area: six;}
.grid-3 .seven {grid-area: seven;}
.grid-3 .eight {grid-area: eight;}

.grid-3 .one ,
.grid-3 .two ,
.grid-3 .three  ,
.grid-3 .four  ,
.grid-3 .five  ,
.grid-3 .six ,
.grid-3 .seven  ,
.grid-3 .eight {
    display: flex;
    background-color: #2196f3;
    justify-content: center;
    align-items: center;
}

.grid-4 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    margin: 20px auto;
    align-content: space-between;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
}

.grid-4 div {
    background-color: #e91e63;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 5px 0 5px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.challenge .one {grid-area: one;}
.challenge .two {grid-area: two;}
.challenge .three {grid-area: three;}
.challenge .four {grid-area: four;}
.challenge .five {grid-area: five;}
.challenge .six {grid-area: six;}
.challenge .seven {grid-area: seven;}
.challenge .eight {grid-area: eight;}
.challenge .nine {grid-area: nine;}
.challenge .ten {grid-area: ten;}


.challenge {
    display: grid;
    margin: 20px auto;
    width: 75vw;
    background-color: #eee;
    grid-template-areas: 
    "one one two three" 
    "four five five three" 
    "four six six three" 
    "seven eight nine ten"
    ;
    grid-gap: 20px 20px;
    padding: 30px;
}

.challenge div {
    border-bottom: 5px solid red;
    background-color: white;
}

.challenge .one ,
.challenge .two ,
.challenge .three  ,
.challenge .four  ,
.challenge .five  ,
.challenge .six ,
.challenge .seven  ,
.challenge .eight ,
.challenge .nine ,
.challenge .ten {
    padding: 20px;
    position: relative;
}

.challenge span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


.challenge .span-2 {
    color: #a8aaad;
    margin-bottom: 20px;
}

.challenge .three  ,
.challenge .five  ,
.challenge .eight {
    background-color: #000;
    color: white;
}
.challenge h3 , .challenge h4 {
    margin-bottom: 20px;
}

.challenge .one::before ,
.challenge .two::before ,
.challenge .three::before  ,
.challenge .four::before  ,
.challenge .five::before  ,
.challenge .six::before ,
.challenge .seven::before  ,
.challenge .eight::before ,
.challenge .nine::before ,
.challenge .ten ::before {
    content: "' '";
    position: absolute;
    right: 25px;
    bottom: 0px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #a8aaad;
    word-spacing: -8px;
}